/* IMPORTAR FUENTES */
@font-face {
    font-family: 'BebasNeue';
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Oswald';
    src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

/* VARIABLES */
:root {
    --blancoFondo: #ffffff;
    --naranjaSecundario: #F95E0B;
    --negroFuentes: #191919;
    --fuente-H1: 'BebasNeue';
    --fuente-H2: 'Oswald';
    --fuente-H3-H4-H5-H6-SPAN: 'Poppins';
    --fuente-BTN-CTAS: 'Montserrat';
    --fuente-P: 'Inter';
    --grisClaro: #E4E4E4;
}

/* ESTILOS BASICOS */
* {
    padding: 0;
    margin: 0;
    color: var(--negroFuentes);
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1 {
    font-family: var(--fuente-H1);
    font-weight: 400;
    font-size: 108px;
}

h2 {
    font-family: var(--fuente-H2);
    font-weight: 600;
    font-size: 96px;
}

h3,
h4,
h5,
h6,
span {
    font-family: var(--fuente-H3-H4-H5-H6-SPAN);
    font-weight: 500;
}

button,
a {
    font-family: var(--fuente-BTN-CTAS);
    font-weight: 700;
}

p {
    font-family: var(--fuente-P);
    font-weight: 500;
    font-size: 36px;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: var(--naranjaSecundario);
    padding: 1.2rem 2rem;
    width: fit-content;
    font-size: 28px;
    box-shadow: 0px 3.754px 3.754px 0px rgba(0, 0, 0, 0.25);
    color: var(--blancoFondo);
    border-radius: 74px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background: #F86D21;
    transform: translateY(-12px);
    box-shadow: 4.765px -0.953px 52.315px 0px #F70;
}

section,
footer {
    display: flex;
    padding: 3rem 0rem !important;
    background-color: var(--blancoFondo);
}

span {
    color: var(--naranjaSecundario);
    font-weight: bold;
}

/* ----------------------------------- HEADER ----------------------------------- */
header {
    display: flex;
    height: 100vh;
    /* AGREGADO PARA EL CAROUSEL OJO */
    overflow: hidden;
    position: relative;
}

/* AGREGADO PARA EL CAROUSEL OJO */
/* La siguiente clase es la que se va a agregar o bueno usar en js */
.headerSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* se oculta por defecto  */
    transition: opacity .8s ease-in-out;
    z-index: 1;
    /* nav (z-index 2) queda encima */
}

.headerSlide.active {
    opacity: 1;
    /* la visible */
    pointer-events: auto;
    /* por si necesitas interacción */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background: rgba(255, 128, 0, 0.7);
    position: fixed;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    transition: all ease-in-out .4s;
}

nav ul li a {
    font-size: 30px;
    transition: all .4s ease-in-out;
}

/* -------------------- LOGOS -------------------- */
#logosContainer {
    width: 94px;
    height: 94px;
    position: relative;
}

#logosContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

#logo {
    opacity: 1;
}

#logoHover {
    opacity: 0;
    transform: scale(1.5);
}

#logosContainer:hover #logo {
    opacity: 0;
}

#logosContainer:hover #logoHover {
    opacity: 1;
}

.navLink:hover a {
    color: #ffffff;
}

/* para el MENU HAMBURGUESA */
#closeMenu,
#openMenu {
    display: none;
}

#openMenu svg,
#closeMenu svg {
    width: 84px;
}

#openMenu path,
#closeMenu path {
    transition: all .4s ease-in-out;
}

#openMenu:hover path,
#closeMenu:hover path {
    fill: var(--blancoFondo);
    transform: translateY(10px);
}

/* ahora con el contenido PRINCIPAL DEL HEADER */
.colsHeaderContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.col1Header,
.col2Header {
    display: flex;
    height: 100%;
}

/* COL1 */
.col1Header {
    flex-direction: column;
    justify-content: center;
    padding: 0px 500px 0px 100px;
    gap: 22px;
    width: 100%;
    position: relative;
}

.triangleHeader {
    position: absolute;
    z-index: -1;
}

/* COL2 */
.col2Header {
    width: 130%;
    background-color: var(--naranjaSecundario);
    position: relative;
}

.col2Header img {
    height: 90%;
    position: absolute;
    bottom: 0px;
    left: -220px;
}

/* ----------------------------------- SECTION ONE : SOBRE NOSOTROS ----------------------------------- */
.sectionOneAboutUs {
    align-items: center;
    background-image: url(../assets/fondoSobreNosotros.png);
    background-position: center;
    background-size: cover;
}

.col1About,
.col2About {
    width: 50%;
}

.col2About {
    text-align: end;
    padding-right: 7rem;
    gap: 10px;
}

/* ----------------------------------- SECTION TWO : RUTINAS ----------------------------------- */
.sectionTwoRoutines {
    flex-direction: column;
    align-items: center;
    margin: 0px 220px;
    text-align: center;
    gap: 49px;
}

/* PARA EL NAV DE LAS PESTAÑAS */
.tabMenu {
    display: flex;
    width: 100%;
    color: var(--negroFuentes);
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.tabMenu a:hover {
    background-color: var(--naranjaSecundario);
    /* background-color: rgba(0, 0, 0, 0.616); */
    color: white;
}

.tabMenu a {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: .6rem 1rem;
    font-size: 38px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.tabMenu .active {
    color: white !important;
    background-color: var(--naranjaSecundario);
}

/* PARA LAS CARDS */
.cardsContainer {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

.cardRoutine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #FB5700 0%, #F4A700 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 550px;
    width: 500px;
    padding: 56px 20px;
    transition: all ease-in-out .4s;
}

.cardRoutine:hover {
    box-shadow: 0px 7px 57.5px 0px rgba(0, 0, 0, 0.50);
    transform: translateX(10px);
}

/* CLASE PARA ESCONDER LAS CARDS CON ANIMACIÓN */
.hideCard {
    transform: scale(0.5);
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
}

.divMancuerna {
    display: flex;
    width: 100%;
}

.divMancuerna img {
    width: 81px;
}

.cardRoutine h3 {
    font-size: 50px;
}

.cardRoutine h3,
.cardRoutine span {
    color: white;
    font-weight: 500;
}

.caracteristica img {
    width: 30px;
    transform: rotate(90deg);
}

.caracteristica span {
    font-size: 30px;
}

.cardRoutine .btn {
    transform: scale(.8);
}

/* ----------------------------------- SECTION THREE : CALENDARIO ----------------------------------- */
.sectionThreeCalendar {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

/* ---------- CALENDARIO ---------- */
#calendar {
    /* más alto en desktop */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.fc-toolbar-title {
    /* “Julio de 2025” → primera mayúscula */
    text-transform: capitalize;
    font-family: var(--fuente-H2);
    font-weight: 600;
}

/* botones de navegación */
.fc .fc-button-primary {
    background: var(--naranjaSecundario);
    border: none;
    color: #fff;
    /* chevron visible */
}

.fc .fc-button-primary .fc-icon {
    color: #fff;
}

/* suavidad general */
.fc .fc-button,
.fc-event,
.fc .fc-daygrid-day-frame {
    transition: .25s all ease-in-out;
}

/* celda resaltada al pasar el mouse */
.fc-daygrid-day:hover {
    background: var(--grisClaro);
}

/* eventos al pasar el mouse */
.fc-event:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .25);
}

/* clases de categoría */
.fc-event--crossfit {
    background: var(--naranjaSecundario);
    color: #fff;
    border: none;
}

.fc-event--calistenia {
    background: var(--negroFuentes);
    color: var(--blancoFondo);
    border: none;
}

.fc-event--visita {
    background: var(--grisClaro);
    color: var(--negroFuentes);
    border: none;
}

/* celdas más altas (desktop) */
.fc-daygrid-day-frame {
    min-height: 110px;
}

/* ----------------------------------- SECTION FOUR : BLOG ----------------------------------- */
.sectionFourBlog {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem 392px !important;
    gap: 61px;
}

.navBlog {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.navBlog a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    transition: color ease-in .3s;
}

.navBlog .active,
.navBlog a:hover {
    color: var(--naranjaSecundario);
}

.containerPosts {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
}

/* Estilo general para el post */
.postGuide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 21px;
    background-color: var(--naranjaSecundario);
    width: 417px;
    height: fit-content;
    padding-bottom: 25px;
    overflow: hidden;
    border-radius: 5px;
    transition: all ease-in-out .4s;
}

.postGuide:hover {
    box-shadow: 0px 4px 77px 0px rgba(0, 0, 0, 0.5);
    transform: translateX(-25px);
}

.postGuide img {
    height: 300px;
    object-fit: cover;
}

.postGuide h3,
.postGuide span,
.postGuide p {
    color: white;
}

.postGuide h3 {
    font-weight: 600;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.postGuide span,
.postGuide p {
    font-size: 30px;
}

.postGuide span {
    font-weight: 500;
}

.postGuide p {
    text-align: start !important;
}

.containerTextsBlog {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 1rem;
}

/* ----------------------------------- SECTION FIVE : TESTIMONIOS ----------------------------------- */
.sectionFiveReviews {
    flex-direction: column;
    align-items: center;
    padding: 4rem 16.3rem !important;
    text-align: center;
    gap: 50px;
}

/* Container de las reviews */
.cardsTestimoniosContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilos generales de la review */
.cardTestimonioUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 530px;
    transition: all ease-in-out .4s;
    background-color: #E4E4E4;
    border-radius: 20px;
    overflow: hidden;
    padding: 2rem 0rem;
    position: relative;
    z-index: 0;
}

.cardTestimonioUser:hover {
    transform: rotate(-2deg);
    box-shadow: 0px 4px 77px 0px rgba(0, 0, 0, 0.3);
}

.imgReviewContainer {
    width: 300px;
    height: 300px;
}

.imgReviewContainer,
.cardTestimonioUser p {
    position: relative;
    z-index: 2;
    /* imagen y texto por encima del rayo */
}

.imgReviewContainer,
.imgReviewContainer img {
    border-radius: 20px;
}

.imgReviewContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardTestimonioUser p {
    font-size: 25px;
    width: 80%;
}

.thunderTestimonio {
    position: absolute;
    top: -30px;
    z-index: 1;
}

/* ----------------------------------- FOOTER ----------------------------------- */
footer {
    flex-direction: column;
    text-align: center;
}

.footerDiv1,
.footerDiv2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 2rem 36rem;
}

.navFooter {
    position: static !important;
    flex-direction: column;
    background: none !important;
}

.navFooter,
.navFooter ul {
    flex-direction: column;
    gap: 50px;
}

.navFooter #logosContainer {
    width: 150px;
    height: 150px;
    position: relative;
}

.navFooter .navLink:hover a {
    color: var(--naranjaSecundario);
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.socialIcons a svg {
    width: 60px;
    height: 60px;
}

.socialIcons a svg path {
    transition: all ease-in-out .3s;
}

.socialIcons a svg:hover path {
    fill: var(--negroFuentes);
    transform: translateY(10px);
}

.youtubeLogo {
    transform: scale(1.3);
}

.footerDiv2 span {
    font-weight: 400;
    color: var(--negroFuentes);
    font-size: 25px;
}

/* *********************************** MEDIA QUERRYS *********************************** */
@media screen and (max-width: 768px) {
    .fc-daygrid-day-frame {
        min-height: 90px;
    }
    .fc {
        font-size: 14px;
    }
    h1 {
        font-size: 75px;
        margin-top: 5rem;
    }
    .btn {
        transform: scale(.8);
    }
    .col1Header {
        padding: 0px 0px 0px 30px;
    }
    .col2Header img {
        height: 80%;
        left: -150px;
    }
    header nav, nav ul {
        flex-direction: column;
    }
    header {
        position: relative;
    }
    header nav {
        width: 100vw;
        padding: 0px;
    }
    header nav ul {
        background-color: rgba(245, 154, 63, 1);
        width: 92%;
        margin-top: 30px;
        align-items: center;
        gap: 60px;
        height: fit-content;
        position: absolute;
        bottom: -489px;
        /* POSITION EN LA QUE SE VE BIEN */
        /* left: 492px; */
        left: 5000px;
        padding: 2rem;
    }
    .containerActions {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100vw;
        padding-right: 5rem;
    }
    #logosContainer {
        display: none;
    }
    #openMenu {
        display: block;
    }
    /* SECTION ONE */
    .sectionOneAboutUs {
        background-position: 4%;
    }
    .col1About img {
        height: 700px !important;
    }
    h2 {
        font-size: 76px;
    }
    p {
        font-size: 26px;
    }
    /* SECTION TWO */
    .sectionTwoRoutines {
        margin: 0px 70px;
    }
    .tabMenu {
        transform: scale(.9);
    }
    .cardsContainer {
        flex-wrap: wrap;
    }
    .cardRoutine {
        width: 400px;
    }
    /* SECTION TREE CALENDAR */
        #calendar {
        transform: scale(.9);
    }
    /* SECTION FOUR BLOG */
    .sectionFourBlog{
        padding: 0px 30px !important;
    }
    .containerPosts{
        justify-content: center;
    }
    .postGuide{
        transform: scale(.9);
    }
    .postGuide:hover{
        transform: translateX(-1px);
    }
    /* SECTION FIVE */
    .sectionFiveReviews{
        padding: 0rem 1.5rem !important;
    }
    .cardsTestimoniosContainer{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .cardTestimonioUser{
        transform: scale(.9);
    }
    .cardTestimonioUser:hover{
        transform: rotate(-1deg);
    }
    /* FOOTER */
    footer{
        gap: 50px;
    }
    .footerDiv1, .footerDiv2{
        padding: 0px;
    }
    .footerDiv1 p{
        width: 50%;
    }
}
@media screen and (max-width: 425px) {
    .fc-daygrid-day-frame {
        min-height: 80px;
    }
    .fc {
        font-size: 12px;
    }
    .fc-toolbar-title {
        font-size: 18px;
    }
    h1{
        font-size: 50px  !important;
        margin-top: 0px;
    }
    .btn{
        transform: scale(.7);
    }
    .btn:hover{
        transform: scale(.8);
    }
    #closeMenu svg, #openMenu svg{
        width: 64px;
    }
    .col1Header{
        padding: 0px 20px 0px 10px;
    }
    .col2Header img{
        height: 75%;
    }
    h2{
        font-size: 56px;
    }
    p{
        font-size: 23px;
    }
    /* SECTION ONE */
    .sectionOneAboutUs{
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.7);
        background-blend-mode: lighten;
    }
    .col1About{
        display: none;
    }
    .col2About{
        text-align: center;
        justify-content: center;
        padding-right: 0rem;
        width: 100%;
        padding: 0px 80px !important;
    }
    .col2About p{
        margin-top: 20px !important;
    }
    /* Section two routine */
    .tabMenu{
        flex-direction: column;
    }
    .sectionTwoRoutines{
        margin: 0px 30px;
    }
    .cardRoutine{
        width: 300px;
    }
    /* Section four blog */
    .sectionFourBlog{
        padding: 0rem 15px !important;
    }
    .postGuide{
        transform: scale(.8);
    }
    .postGuide:hover{
        transform: scale(.9) !important;
    }
    /* Section five reviews */
    .cardTestimonioUser{
        transform: scale(.8);
    }
    .cardTestimonioUser:hover{
        transform: scale(.8);
    }
    /* Footer */
    .footerDiv1 p{
        width: 65%;
    }
    footer nav ul li a{
        font-size: 25px;
    }
}